.App {
  text-align: center;
  background: url('./img/s4backg.jpg');
  background-image: url('./img/sky.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 20%;
}

.headerSection {
  opacity: 0;
  margin-top: -50px;
}

.s1 {
  background-image:
    url('./img/section1.png');
  /*,
    url('./img/sky.jpg');*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, cover;
}

.s2 {

  background-image: url('./img/section2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-right: 17%;
}

.s3 {
  background: url('./img/s4backg.jpg') top repeat;
}

.s4 {
  background: url('./img/s4backg.jpg');
}

.s5 {
  background: url('./img/s4backg.jpg');
}

h1 {
  margin: 5px;
}

.wrapper {
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.imgWrapper {
  width: 45%;
  text-align: center;
}

.profPic {
  margin: 0;
  height: 200px;
  border-radius: 50%;
}

.aboutMe {
  color: white;
  width: 45%;
  background: black;
  padding: 3px 0;
  padding-right: 5px;
  margin-bottom: -10px;
  text-align: right;
  margin-top: 0;
}

.storieHolder {
  margin-top: 50px;
  width: 45%;
  text-align: justify;
  font-size: 19px;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

.nameHolder {
  color: white;
  background: black;
  padding: 2px 40px;
}

.storieButton {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background: white;
}

.storieButton:focus {
  outline: 0;
}

.storieButton:hover {
  background: black;
  color: white;
}