.formWrapper {
  opacity: 1;
  width: 80vw;
  border-radius: 20px;
  background: white;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headingContact {

  background: black;
  color: white;
  margin-bottom: 40px;
  margin-left: 0;
  padding: 5px 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.btn {
  width: 50%;
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

/* Button 1 */
.btn-1 {
  background: #3498db;
  color: #fff;
}

.btn-1:hover {
  background: #2980b9;
}

.btn-1:active {
  background: #2980b9;
  top: 2px;
}


.block {
  padding-top: 10%;
  padding-bottom: 10%;
}

.block2 {
  display: flex;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
}

* {
  box-sizing: border-box;
}





/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 30px;
  margin-left: 30px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

.message {
  height: 50px;
  transition-duration: 1s;
}

.message:focus {
  height: 150px;
  transition-duration: 1s;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #2980b9;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2980b9;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #2980b9;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #2980b9;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #2980b9;
  }

  to {
    width: 0;
    background: transparent;
  }
}




.ludwig {
  position: relative;
  padding-left: 1em;
  color: #2980b9;
  border-left: 0.1em solid #2980b9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 100;

}

.ludwig:before {
  content: '\201C';
  font-family: 'Sanchez';
  color: lighten(black, 40%);
}

.ludwig:after {
  content: '\201D';
}