.wall {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}

.sectionWrapper {
  opacity: 0;
  text-align: center;
}

.headingTitle {
  background: black;
  display: inline;
  color: white;
  padding: 0.5% 20%;
}

.heading {
  margin-top: 50px;
  margin-bottom: 100px;
}

.project1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./img/royal.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  transition: transform 1s;
}

.project1:hover {
  transform: scale(1.05);
}


.project2:hover {
  transform: scale(1.05);
}

.project3:hover {
  transform: scale(1.05);
}

.project4:hover {
  transform: scale(1.05);
}

.project5:hover {
  transform: scale(1.05);
}

.project6:hover {
  transform: scale(1.05);
}

.descWrapper {
  background: rgba(0, 0, 0, 0.40);
  color: white;
  width: 100%;
  height: 110px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: height 1s;
}

.descWrapper:hover {
  height: 200px;
}

.descWrapper:hover .iconsHolder {
  opacity: 1;
}

.iconsHolder {
  opacity: 0;
  height: 50px;
  transition: opacity 0.5s;
}

.github {
  height: 100%;
}

.demo {
  height: 100%;
  margin-left: 10px;
}

.project2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./img/instagram.jpg');
  background-size: cover;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  transition: transform 1s;
}

.project3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./img/skyleet.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  transition: transform 1s;
}

.project4 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./img/ichicken.jpg');
  background-size: cover;
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  transition: transform 1s;
}

.project5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  transition: transform 1s;
}

.articlesWrapper {
  color: white;
}

.articleLink {
  color: white;
  font-size: 20px;
}

.articleLink:hover {
  color: lightblue;
}

.project6 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./img/social.jpg');
  background-size: cover;
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  transition: transform 1s;
}

.projectWrapperLeft {
  width: 100%
}

.projectWrapperRight {
  width: 100%
}